html{
  background-color: grey;
}

button {
  align-items: center;
  align-content: center;
  color: black;
  border-style: solid;
  border-color: black;
  color: white;
  background-color: black;
}
p{
  font-size: 30px;
  color: white;
  text-align: center;
}
